<h1>Tasks</h1>
<div>
<% @tasks.each do |item|  %>
<% if item.completed == false %>
<input type="checkbox" checked>  <%= link_to item.title, task_path(item.id) %>
</input>
<% else %>
 <input type="checkbox"> <%= link_to item.title, task_path(item.id) %>
 </input>
 <% end %>
<% end %>
</div>
<%= link_to "Click here to add a new task", new_path %>
